In [1]:
'''1. Verify if a value is an integer. Evaluates true.'''
a=4.5
a==int(a)

False

In [2]:
'''2. Verify if variable a is an even number.[false]'''
a=3

a%2==0

False

In [3]:
'''2. Verify if variable a is an even number.[true]'''

a=4

a%2==0

True

In [4]:
'''3. Insert two numbers. Is the first bigger than the second? [false]'''

a=4
b=8

a>b

False

In [5]:
'''3. Insert two numbers. Is the first bigger than the second? [true]'''

a=10
b=6

a>b

True

In [6]:
'''4. Verify if one value is multiple of another.'''

n=3
m=9

m%n==0

True

In [7]:

'''4. Verify if one value is multiple of another.'''

n=2
m=9

m%n==0

False

In [8]:
'''5. Calculate the interest earn by an investor that invested a capital of 200 
during 3 years with an interest rate of 3%. (simple interest)'''

capital=200
time=3
rate=0.03

interest=capital*time*rate

print(interest)

18.0

In [9]:
'''6. Capital that an investor obtained after investing a capital of 200 
during 3 years with an interest rate of 3%. (compound interest)'''

capital=200
time=3
rate=0.03

accruedCapital=capital*(1+rate)**time

print(accruedCapital)

218.5454

In [2]:
'''7. Calculate your BMI.'''

weight= input("Please type your weight in kilogram.")
height= input("Please type your height in meters.")


BMI=float(weight)/(float(height)**2)

print(BMI)

Please type your weight in kilogram.63
Please type your height in meters.173
0.002104981790236894

In [12]:
'''8.1. Calculate the Golden Ratio. [without libraries]'''

gr=(1+(5)**(1/2))/2
print (gr)

1.618033988749895

In [13]:
'''8.2. Calculate the Golden Ratio. [with module math and function]'''

import math

gr=(1+math.sqrt(5))/2
print (gr)

1.618033988749895

In [14]:
'''9. Calculate the NPV of an investment, considering an initial 
investment of 10000, the following cashflows 2000, 3000, 4000,
4000 and 5000 and a discount rate of 10%.'''

FV1=2000
FV2=3000
FV3=4000
FV4=4000
FV5=5000
k=0.1
I=10000

NPV=-I+FV1/((1+k)**1)+FV2/((1+k)**2)+FV3/((1+k)**3)+FV4/((1+k)**4)+FV5/((1+k)**5)

print (NPV)

3139.4403015193916

In [15]:
'''10.1. Ask the user to insert name and age. Calculate the birth. 
Print a result saying that this person was born in...'''

name=input("Please type your name.")
age=input("Please also insert your age.")

birthYear=2019-int(age)

print(name+" was born in"+" "+str(birthYear)+".")

Please type your name.Iacopo
Please also insert your age.23
Iacopo was born in 1996.

In [7]:
'''10.2. Ask the user to insert name and age. Calculate the birth. 
Print a result saying that this person was born in...[using date library]'''

name=input("Please type your name.")
age=input("Please also insert your age.")

from datetime import date

today=date.today()

birthYear=today.year-int(age)

print(name+" was born in"+" "+str(birthYear)+".")

Please type your name.iacopo
Please also insert your age.23
iacopo was born in 1996.

In [ ]:
'''11. Ask the user to insert forename and surname. Create a new variable 
called name with the user's complete name.'''

firstName=input("Please type your first names.")
surname=input("Please type your last name.")

name=firstName+" "+surname+"."

print(name)

In [18]:
'''11.1 using nameBig, nameTitle, nameSmall, nameCapitalized.'''

firstName=input("Please type your first names.")
surname=input("Please type your last name.")

#print the name as inserted
name=firstName+" "+surname+"."
print(name)

#print all characters in uppercase letters
nameBig=name.upper()
print(nameBig)

#print only the first character of each word in uppercase
nameTitle=name.title()
print(nameTitle)

#print all the characters in lowercase
nameSmall=name.lower()
print(nameSmall)

#print only the first character of the entire phrase in uppercase letter
nameCapitalized=name.capitalize()
print(nameCapitalized)

Please type your first names.Iacopo
Please type your last name.Fiorentino
Iacopo Fiorentino.
IACOPO FIORENTINO.
Iacopo Fiorentino.
iacopo fiorentino.
Iacopo fiorentino.

In [19]:
'''12. Show where in which character apprears the first "da".'''

string="jsGUIAdame"

str.find(string,"da")

6

In [20]:
'''12. Show where in which character apprears the first "da". [not found]'''

string="hfgrtzu"

str.find(string,"da")

-1

In [21]:
'''12. Show where in which character apprears the first "da". [first character]'''

string="dajsGUIAdame"

str.find(string,"da")

0